@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
:root{
    --dark-color:#171717
}
/*start navbar*/
.navbar {
background-color: var(--dark-color);
}
/*end navbar*/

.footer {
    width: 100%;
    min-width: 200px;
    background-color: #171717;
    overflow: hidden;
    padding: 50px 10px;
}

    .footer .footer-col {
        width: 35%;
        padding: 20px 15px;
    }

        .footer .footer-col h4 {
            font-size: 1.5em;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 30px;
            padding: 20px 10px;
            font-weight: 500;
        }

        .footer .footer-col li {
           /* display: inline-block;*/
            padding: 15px;
            margin-bottom: 20px;
            padding: 2%;
            border-bottom: 1px solid transparent;
            -webkit-background-clip: text;
            position: relative; /*ghander modified the hover*/
            background-image: linear-gradient( to right, #f9be0a, #f9be0a 50%, #ffffff 50% );
            background-size: 200% 100%;
            background-position: -100%;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
        }

            .footer .footer-col  li:hover {
                /*  border-bottom: solid #f9be0a; */
                background-position: 0;
                object-fit:cover;
            }

            .footer .footer-col li:before {
                content: '';
                background: #f9be0a;
                display: block;
                position: absolute;
                bottom: -3px; /*ghander modified the hover*/
                left: 0;
                width: 0;
                height: 1px;
                transition: all 0.3s ease-in-out;
                object-fit: cover;
            }

            .footer .footer-col li:hover::before {
                width: 100%; /*ghander modified the hover*/
                object-fit:cover;
            }


            .footer .footer-col li a {
                color: #ffffff;
                text-decoration: none; /*ghander modified the hover*/
            }

    .footer p {
        color: #ffffff;
        margin-top: 20px;
    }

    .footer .social-icons a {
        color: #f9be0a;
        font-size: 1.7em;
        padding-right: 30px;
        float: right;
    }

    .footer ph {
        float: right;
    }
      