@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body {
}

.navbar .contanier {
    width: auto;
    margin: auto;
    overflow: auto;
    padding: 0 40px;
    height: min-content;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*start navbar*/
.navbar {
    width: 100%;
    min-width: 200px;
    background-color: #171717;
    overflow: hidden;
    position:fixed;
    z-index:999;
    /* display:flex;*/
    justify-content:space-between;
    align-items:center;
    padding:3px 10px;
    
}
    /*end navbar*/

    .navbar .brand {
        display: inline-block;
        float: left;
        width: 70%;
        line-height: 5%;
        font-weight: 700;
        font-size: 1.2em;
    }

        .navbar .brand h2 {
            color: #ffffff;
            display: inline-block;
            margin-bottom: 15px;
        }

    .navbar .links {
        float: right;
        width: 30%;
        margin-top: 15px;
        line-height: 5%;
        display: inline-block;
        padding: 10px;
        font-weight:500;
        
    }

        .navbar .links li {
            display: inline-block;
            padding: 15px;
            border-bottom: 1px solid transparent;
            -webkit-background-clip:text;
            position: relative;                         /*ghander modified the hover*/
            background-image: linear-gradient( to right, #f9be0a, #f9be0a 50%, #ffffff 50% );
            background-size: 200% 100%;
            background-position: -100%;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
        }

            .navbar .links li:hover {
              /*  border-bottom: solid #f9be0a; */
                background-position: 0;
            }
            .navbar .links li:before {
                content: '';
                background: #f9be0a;
                display: block;
                position: absolute;
                bottom: -3px; /*ghander modified the hover*/
                left: 0;
                width: 0;
                height: 1px;
                transition: all 0.3s ease-in-out;
            }
            .navbar .links li:hover::before {
                width: 100%; /*ghander modified the hover*/
            }


            .navbar .links li a {
                color: #ffffff;
                text-decoration: none; /*ghander modified the hover*/
            }

.clearfix {
    clear: both
}




section {
    padding: 100px 200px;
    margin-bottom: 200px;
}

.about .contanier {
    min-width: 1080px;
}

.about {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: url(background_3.jpg)no-repeat; 
    background-position: bottom;
    background-size: cover;
}
{
    color: grey;
}

#circle_1 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(244, 194, 68);
    border-color: black;
    /*position: relative;*/
    /*float: left;*/
}

#circle_2 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(244, 194, 68);
    border-color: black;
}

#circle_3 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(244, 194, 68);
    border-color: black;
}

#circle_4 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(244, 194, 68);
    border-color:black;
}



.main .contanier {
    min-width:1080px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(background_3.jpg)no-repeat ;/*ghander add a back ground*/
    background-position:bottom;/*ghander*/
    background-size:cover;/*ghander*/
}
    .main ph {
        float:right;
        
        
    }
.main h2{
    color:#171717;
    font-size:2.1em;
    font-weight:500;
   
}
.main h3{
    color:#171717;
    font-size:1.4em;
    font-weight:500;
    margin-top:10px;
    margin-bottom:30px;
}
.main-btn {
    color: #000000;
    background-color: #f9be0a;
    text-decoration: none;
    font-size:0.9em;
    font-weight:500;
    display:inline-block;
    padding:0.9375em 2.1875em;  /*ليه عشان في الريسبونسيف كان احسن*/ /*pxاضرب في 16 يطلع القيمة بال*/
    letter-spacing:1px;
    border-radius:15px;
    margin-bottom:40px;
    transition:0.6s ease;




}
.main-btn:hover{
    background-color:#ffc000;
    transform: scale(1.05);

}

.main .social-icons a {
    color: #f9be0a;
    font-size: 1.5em;
    padding-right: 30px;
}
.presen .contanier {
    min-width: 1080px;
}

.presen {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
   /* background: url(background_1.jpg)no-repeat;*/
   /* background: url(background_4.jpg)no-repeat; */      /*ghander add a back ground*/
    background-position: bottom; /*ghander*/
    background-size: cover; /*ghander*/
}

    .presen h2 {
        color: #171717;
        font-size: 2.1em;
        font-weight: 500;
    }

    .presen h3 {
        color: #171717;
        font-size: 1.4em;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 30px;
    }

.presen-btn {
    color: #000000;
    background-color: #f9be0a;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em; /*ليه عشان في الريسبونسيف كان احسن*/ /*pxاضرب في 16 يطلع القيمة بال*/
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}

    .presen-btn:hover {
        background-color: #ffc000;
        transform: scale(1.05);
    }

.presen .social-icons a {
    color: #f9be0a;
    font-size: 1.5em;
    padding-right: 30px;
}



.Tech {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(tec\ back\ ground.jpg)no-repeat;
    background: url(background_4.jpg)no-repeat;
    /* background: url(background_4.jpg)no-repeat; */ /*ghander add a back ground*/
    background-position: bottom; /*ghander*/
    background-size: cover; /*ghander*/
}

    .Tech h2 {
        color: #171717;
        font-size: 2.1em;
        font-weight: 500;
    }

    .Tech h3 {
        color: #171717;
        font-size: 1.4em;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 30px;
    }

.Tech-btn {
    color: #000000;
    background-color: #f9be0a;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em; /*ليه عشان في الريسبونسيف كان احسن*/ /*pxاضرب في 16 يطلع القيمة بال*/
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}

    .Tech-btn:hover {
        background-color: #ffc000;
        transform: scale(1.05);
    }

.Tech .social-icons a {
    color: #f9be0a;
    font-size: 1.5em;
    padding-right: 30px;
}

.PROJECT {
    font-size: 120%;
    Font-family: 'Courier New', Courier, monospace ;
        
}

 








clearfix {
    clear: both
}

.footer .contanier {
    max-width: 1170px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}
.footer {
    width: 100%;
    min-width: 200px;
    background-color: #171717;
    overflow: hidden;
    padding: 50px 10px;
}

    .footer .footer-col {
        width: 35%;
        padding: 20px 15px;
    }

        .footer .footer-col h4 {
            font-size: 1.5em;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 30px;
            padding: 20px 10px;
            font-weight: 500;
        }

        .footer .footer-col li {
           /* display: inline-block;*/
            padding: 15px;
            margin-bottom: 20px;
            padding: 2%;
            border-bottom: 1px solid transparent;
            -webkit-background-clip: text;
            position: relative; /*ghander modified the hover*/
            background-image: linear-gradient( to right, #f9be0a, #f9be0a 50%, #ffffff 50% );
            background-size: 200% 100%;
            background-position: -100%;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
        }

            .footer .footer-col  li:hover {
                /*  border-bottom: solid #f9be0a; */
                background-position: 0;
                object-fit:cover;
            }

            .footer .footer-col li:before {
                content: '';
                background: #f9be0a;
                display: block;
                position: absolute;
                bottom: -3px; /*ghander modified the hover*/
                left: 0;
                width: 0;
                height: 1px;
                transition: all 0.3s ease-in-out;
                object-fit: cover;
            }

            .footer .footer-col li:hover::before {
                width: 100%; /*ghander modified the hover*/
                object-fit:cover;
            }


            .footer .footer-col li a {
                color: #ffffff;
                text-decoration: none; /*ghander modified the hover*/
            }

    .footer p {
        color: #ffffff;
        margin-top: 20px;
    }

    .footer .social-icons a {
        color: #f9be0a;
        font-size: 1.7em;
        padding-right: 30px;
        float: right;
    }

    .footer ph {
        float: right;
    }
      